{%extends 'photos/base.html'%} {% load static %} {% block content %} {{block.super}} {% for post in posts %}
<div class="container" style="display: grid ; place-items:center;">

    <div class="card align-items-center " style="width: 72%;height: 100px ; margin:20px; padding-bottom: 130px;">
        <div class="card-body d-inline-flex mb-3"> {% for profile in profile%}
            <a href="{% url 'profile' profile.user.id%}" style="text-decoration: none; color:black; margin-left: 10px; display: grid; place-items: center;">

                <img src="{{profile.profile_image.url}}" class="border-gradient" style="border: double 3px transparent;border-radius: 50%;background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f00,#3020ff);background-origin: border-box;background-clip: content-box, border-box;display: inline-block;box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);;height: 60px;width: 60px;object-fit: cover;margin-top: 1em;"
                    alt="...">
                <p>{{profile.user}}</p>
                {% endfor%}
            </a>

        </div>
    </div>

    <div class="card mb-3" style="margin: 30px; max-width: 500px; max-height: auto;">
        <div class="card-body">
            <h5 class="card-title">
                <a href="{% url 'profile' post.user.id%}" style="text-decoration: none; color:black"> {{post.user}}</a>
            </h5>
        </div>

        <a href="{% url 'photo' post.id%}"><img class="card-img-bottom" src="{{post.image.url}}" alt="Card image cap"></a>
        <div class="card-body">

            <h5 class="card-title">
                {{post.image_name}}</h5>
            <p class="card-text ">{{post.caption}}</p>
            <a href="{%url 'new_comment' post.id%} "><img src="{% static '/images/comment.png' %} " alt=" "></a>
            <ul class="list-group ">
                <li class="list-group-item active ">Comments</li>

                {% for comment in post.comment_set.all%}
                <li class="list-group-item ">{{comment.user}} :{{comment}}</li>
            </ul>
            {% endfor%}
            <p class="card-text "> {% for tag in post.tag.all%}
                <p>{{tag}}</p>
                {% endfor%}</p>
            <p class="card-text "><small class="text-muted ">{{post.post_time}}</small></p>

        </div>
    </div>
</div>
{% endfor%}{% endblock %}