{% extends 'django_registration/base.html'%} {% load django_bootstrap5 %}{% block content %} {{block.super}}

<div class="container">
    <div class="">
        {% if form.errors %}
        <p> Some information may be Incorrect </p>
        {% endif %}
    </div>
    <div class="">
        <form action="/accounts/register/" method="post">
            {% csrf_token %} {% bootstrap_form form%}

            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
            </div>

            <input type="hidden" name="next" value="{{next}}">

        </form>

    </div>
</div>



{% endblock %}