{% extends 'registration/base.html'%} {% load django_bootstrap5 %}{% block content %} {{block.super}}

<div class="continer center">
    <div class="message">
        {% if form.errors %}
        <p> Incorrect Password or Username </p>
        {% endif %}

    </div>
    <form action="/accounts/login/" method="post">
        {% csrf_token %} {% bootstrap_form form%}

        <div class="form-group center">
            <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
        </div>

        <input type="hidden" name="next" value="{{next}}">
    </form>

</div>


{% endblock%}