{% extends 'registration/base.html'%} {% load django_bootstrap5 %}{% block content %} {{block.super}}


<div class="row py-5 px-4">
    <div class="col-md-5 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3"><img src="{{profile.profile_image.url}}" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                        <a href="#" class="btn" style="color: white;">
                            <h4>{{post.user}}</h4>
                        </a>
                    </div>
                </div>
            </div>

            <div class="px-4 py-3">
                <h5 class="mb-0">About</h5>
                <div class="p-4 rounded shadow-sm bg-light">
                    <p class="font-italic mb-0">{{profile.about}}</p>

                </div>
            </div>
            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">All photos</h5>
                </div>
                {% for post in posts%}
                <div class="row">
                    <div class="col-lg-6 mb-2 pr-lg-1">
                        <a href="{% url 'photo' post.id%}">
                            <img src="{{post.image.url}}" alt="" class="img-fluid rounded shadow-sm"></a>
                    </div>{% endfor%}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock%}